policy_module(statusquo, 1.100.1)

########################################
#
# Declarations
#

type statusquo_t;
type statusquo_exec_t;
init_daemon_domain(statusquo_t, statusquo_exec_t)

permissive statusquo_t;

type statusquo_initrc_exec_t;
init_script_file(statusquo_initrc_exec_t)

type statusquo_conf_t;
files_type(statusquo_conf_t)

type statusquo_var_lib_t;
files_type(statusquo_var_lib_t)

type statusquo_var_run_t;
files_type(statusquo_var_run_t)

type statusquo_port_t;
corenet_port(statusquo_port_t)

########################################
#
# statusquo local policy
#
allow statusquo_t self:process { fork };

allow statusquo_t self:fifo_file rw_fifo_file_perms;
allow statusquo_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(statusquo_t, statusquo_conf_t, statusquo_conf_t)
manage_files_pattern(statusquo_t, statusquo_conf_t, statusquo_conf_t)

manage_dirs_pattern(statusquo_t, statusquo_var_lib_t, statusquo_var_lib_t)
manage_files_pattern(statusquo_t, statusquo_var_lib_t, statusquo_var_lib_t)
files_var_lib_filetrans(statusquo_t, statusquo_var_lib_t, { dir file })

manage_dirs_pattern(statusquo_t, statusquo_var_run_t, statusquo_var_run_t)
manage_files_pattern(statusquo_t, statusquo_var_run_t, statusquo_var_run_t)

sysnet_dns_name_resolve(statusquo_t)
corenet_all_recvfrom_unlabeled(statusquo_t)

allow statusquo_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(statusquo_t)
corenet_tcp_sendrecv_generic_node(statusquo_t)
corenet_tcp_sendrecv_all_ports(statusquo_t)
corenet_tcp_bind_generic_node(statusquo_t)

gen_require(`
    type statusquo_port_t;
')
allow statusquo_t statusquo_port_t:tcp_socket name_bind;

gen_require(`
    type statusquo_port_t;
')
allow statusquo_t statusquo_port_t:tcp_socket name_connect;

domain_use_interactive_fds(statusquo_t)

files_read_etc_files(statusquo_t)

miscfiles_read_localization(statusquo_t)

sysnet_dns_name_resolve(statusquo_t)

allow statusquo_t statusquo_exec_t:file execute_no_trans;
allow statusquo_t self:process setsched;
corecmd_exec_ls(statusquo_t)
corenet_tcp_connect_http_port(statusquo_t)
dev_read_urand(statusquo_t)
fs_getattr_xattr_fs(statusquo_t)
kernel_read_system_state(statusquo_t)
